/* este elemento ASTERISCO, permite definir
    los formatos y/o estilos para toods los elementos
    de la hoja de CSS
    sin embargo si mas adelante un elemento particular 
    redefinie una caracteristica que se encuentre
    en esta linea, "ganara" lo definido mas adelante*/
*{
    color: blue;
}


/*si queremos APLICAR O COMPARTIR una/s misma/s propiedades o caracteristicas
a varios elementos diferentes, se pueden colocar y separar con comas
aquellos elementos que querramos que cumplan con los mismos atributos*/
P, span{
    color: red;
    width: 300px;
}

h1{
    /*a los h1 se les asigna estas propiedades*/
    /*teniendo en cuenta el modelo de caja*/
    
    /*tambien ncluimos una nueva fuente que se aplicara al doc*/
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    padding: 30px;
    
    /*se puede asignar un margen gral*/
    margin: 10px;

    /* o tambien especificar que dimensiones se le 
    dara a cada uno de los lados
    esto funciona para padding o border:

    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 15px;

    otra forma de declarar estos valores es
    colocar los valores de forma continua, en sentido horario
    top, rigth, bottom y left
        
    margin 20px 10px 20px 10px;
    */ 
    
    font-weight: bold;
    color: green;    
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}

/*aqui se hace referencia y se conecta unas caracteristicas 
a la ID de un parrafo en particular */
#parrafo_diferente{
    color: tomato;
    font-size: 25px;
    border: 3px solid black;
}

/*si queremos hacer un CODIGO DE ESTILOS REUTILIZABLE
y que podamos aplicarlo a varias paginas o
muchos elementos (es mejor de esta forma en la practica)
podemos crear CLASES de la sig manera*/

.estaesmiclase{
    font-weight: bold;
    color: lightblue;
}





/*asi se raeliza un comentario en el Doc CSS*/